---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}

const member = blogEntry.data.author ? await getEntry("members", blogEntry.data.author) : null;
---
{ member && (
  <div class="flex-shrink-0">
    <Image
      class="size-[46px] rounded-full border-2 border-neutral-50"
      src={member.data.imagen}
      alt={member.data.nombre}
      draggable={"false"}
      format={"avif"}
    />
  </div>
)}
